*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.firstsession {
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a{
    font-weight: bold;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}


#contact a{
    font-size: medium;
    text-align: right;
    color: black;
    padding-right: 20px;
    text-decoration: none;
    width:50%;
}

.whitefont {
    color: white;
}

.pinkdiv {
    background-color: pink;
    width: calc(100% / 3);
    height: 200px;
    padding: 20px;
}

.bluediv{
    background-color: blue;
    width: calc(100% / 3);
    height: 200px;
    padding: 20px;
}

.greendiv {
    background-color: green;
    width: calc(100% / 3);
    height: 200px;
    padding: 20px;
}

.yellowdiv {
    background-color: yellow;
    width: 75%;
    padding: 20px;
    height: 380px;
}

#secondsession {
    display: flex;
    justify-content: space-around;
    text-align:left;
}

.side{
    background-color: blue;
    width: 25%;
    padding: 20px;
    height: 380px;
}

.thirdsession {
    display:flex;
}

footer {
    background-color:#479df7;
    text-align: center;
    color:white;
}