*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstses {
    color:white;
    background-color: orange;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.firstses div a {
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color:white;
    font-size: 20px;
    width: calc(100% / 3);
}

.firstses nav a{
    text-decoration: none;
    color:white;
    width: calc(100% / 3);
    padding: 10px;
}

.secondses {
    background-image: url(../image/pexels-johannes-rampp-1618846-19711059.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondses h {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    backdrop-filter: blur(10px);
}

.secondses p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(10px);
}

.secondses a {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 25px;
}

.thirdses {
    background-color: #dbdbdb;
    padding: 10px 20px;
}

.thirdses h {
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 15px;

}

.thirdses p {
    text-align: center;
    color: black;
    padding-right: 10%;
    padding-left:10%;
}

#sym {
    color: orange;
    font-size: 30px;
    padding-bottom: 20px;
}

#line {
    height: 2px;
    width: 20px;
}

.faq {
    width: 80%;
    padding: 10px;
}

.container {
    background-color: #dbdbdb;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.orangebg {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    height: 30px;
}

.orangebg p {
    width: 50%;
    text-align: right;

}

.orangebg h {
    width: 50%;
    text-align: left;
}

.faqc {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
}

.fifthses {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
}

table {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

th {
    text-align: left;
}

.fifthses h {
    font-weight: bold;
    font-size: 30px;
}

.greybg {
    background-color: grey;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
}
